@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Poppins:ital,wght@1,100&family=Rubik+Glitch&display=swap');

body{
    padding : 0;
    margin : 0;
}

* {
    padding: 0;
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
    /* font-weight: 950; */
}

.navbar {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    height :80 vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    z-index: 1;
    overflow: hidden;
    padding: 10px;
    position: fixed;
}

.logo{
    height:100px;
    width: auto;
    margin-right: 200px;
}

.navbar ul {
    font-weight: bold;
    list-style-type: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    margin : 20px;
    padding: 15px;
    display: block;
    text-align: center;
    transition: .3s;
}

.navbar a:hover {
    color: gold;
}


.home {
    width : 100%;
    position: relative;
    height : 100vh;
}

video {
    position: absolute;
    height : 100vh;
    width: 100%;
    object-fit: cover;
}

.content {
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    background-color: transparent;
    color: white; /* Set the text color to be visible against the video background */
  }
  
  .content h1{
    margin: 4rem 0;
    background-color: transparent;
    font-size: 50px;
    font-weight: 1000;
  }
  .content h3 {
    margin: 1rem 0;
    background-color: transparent;
    font-weight: 2000;
  }
  
  .content a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: transparent; /* You can change this color to suit your design */
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
  }

