@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Poppins:ital,wght@1,100&family=Rubik+Glitch&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html { font-size: 62.5% }
/*
.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    margin: 0;
}*/

.content {
    text-align: left;
    padding-right: 250px;
    padding-left: 250px;
}

.content h1 {
    font-size: 10rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 50px;
}

.content h3 {
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 50px;
}

.content a {
    font-size: 2.3rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}

.content a:hover {
    background-color: white;
    color: black;
}

.background-clip {
    width: 100%;
}

.video_container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    overflow: hidden;
}

.navbar {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    padding: 15px;
    position: fixed;
}

.navbar ul {
    font-weight: bold;
    list-style-type: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    transition: .3s;
}

.navbar a:hover {
    color: gold;
}

.logo {
    position: relative;
    padding-left: 10px;
    height: 70px;
    width: 100px;
    margin: 0 20px;
}

/* Respomsive media queries */

/* 4k Screens */
@media only screen and (max-width: 2560px){
    .navbar a{
        font-size: 2.2rem;
        padding: 15px 25px;
    }
    .container{
        padding: 0%;
    }
    .content h1{
        font-size: 14rem;
    }
    .content h3{
        font-size: 4.9rem;
    }
    .content a{
        font-size: 2.6rem;
    }
}

/* Large Laptops */
@media only screen and (max-width: 1440px) {
    .navbar a{
        font-size: 1.6rem;
        padding: 15px 18px;
    }
    .container{
        padding: 0%;
    }
    .content h1{
        font-size: 8rem;
    }
    .content h3{
        font-size: 2.8rem;
    }
    .content a{
        font-size: 1.8rem;
    }
}

/* Laptop screens */
@media only screen and (max-width: 1230px) {
    .navbar a{
        font-size: 1.2rem;
        padding: 15px 18px;
    }
    .container{
        padding: 0%;
    }
    .content{
        padding: 0px 100px;
    }
    .content h1{
        font-size: 6rem;
    }
    .content h3{
        font-size: 2rem;
    }
    .content a{
        font-size: 1.2rem;
    }
}

/* Tablets */
@media only screen and (max-width: 745px) {
    .navbar a{
        font-size: 0.8rem;
        padding: 15px 18px;
    }
    .container{
        padding: 0%;
    }
    .content h1{
        font-size: 4rem;
    }
    .content h3{
        font-size: 1.4rem;
    }
    .content a{
        font-size: 0.8rem;
        padding: 10px 20px;
    }
}

/* Mobiles */
@media only screen and (max-width: 745px) {
    .content{
        padding: 0px 40px;
    }
}

/* Background video switching to portrait */
@media screen and (orientation: portrait) {
    .background-clip{
      height: 100vh !important;
      width: auto !important;
      /* left: 50%;
      top: 0;
      transform: translateX(-50%); */
    }
  }